.grid {
	max-width: 900px;
	margin: 0 auto; 
	overflow: hidden;
}

.col-4 {
	width: 90%;
	margin: 1em auto;
	box-sizing: border-box; 

	img {
		width: 100%;
	}

	p {
		text-align: center;
	}
}

.nav {
	text-align: center;
	background-color: #436B99;

	h1 {
		margin: 0;
		padding: 1em;
	}
}

.footer{
	text-align: center;
	background-color: #436B99;

	p {
		margin: 0;
		padding: 1em;
	}
}

@media (min-width: 480px) {
	.col-4 {
		width: 46%;
		float: left;
		margin: 2%; } }

@media (min-width: 768px) {
	.col-4 {
		width: 30%;
		margin: 1.65%; } }

@media (min-width: 992px) {
	.col-4 {
		width: 23%;
		margin: 1%; } }