@import 'variables';
@import 'helpers';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.nav {
  text-align: center;
  background-color: $sky;
  border-bottom: 1px solid $watermelon;

  a {
    text-decoration: none;
    color: #000;

    h1 {
      margin: 0;
      padding: 1em;

      i {
        margin-left: 0.3em;
      }
    }
  }
}

.gridContainer {
  width: 100%;
  overflow: hidden;

  .courseFilterDiv {
    margin: 1em auto 0;
    text-align: center;

    label {
      margin-right: 0.5em;
    }

    select {
      font-family: 'Lato', sans-serif;
      font-size: 0.9em;
      border-color: #000;
      outline: none;
    }
  }

  .paleoFilterDiv {
    margin: 1em auto 0;
    text-align: center;

    label {
      margin-right: 0.5em;
    }

    select {
      font-family: 'Lato', sans-serif;
      font-size: 0.9em;
      border-color: #000;
      outline: none;
    }
  }

  .nextLast {
    color: $watermelon;
    text-align: center;
    font-weight: bolder;
    font-size: 1em;

    i {
      display: inline-block;
    }

    p {
      display: inline-block;
      margin: 1em;
    }
  }
}

.grid {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding: 0.6em 0;
}

.col-4 {
  width: 90%;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid $carbon;
  padding: 0.5em 0;

  .thumbContainer {
    height: 6em;
    text-align: center;

    img {
      width: 6em;
      height: 100%;
      display: block;
      float: left;
    }

    .recipeTitle {
      margin: 0;
      padding: 0.6em 0.1em;
      color: #000;
      float: right;
      font-family: 'Lato', sans-serif;
      width: 60%;
      box-sizing: border-box;
      height: 50%;
      font-size: 1em;
    }

    .recipeCourse {
      margin: 0;
      padding: 0.6em 0;
      color: #000;
      float: right;
      font-family: 'Lato', sans-serif;
      width: 60%;
      box-sizing: border-box;
      height: 50%;
      font-size: 0.8em;
      line-height: 2em;
    }

    .recipeCourse::first-letter {
      text-transform: capitalize;
    }
  }
}

.col-4:hover {
  background-color: $neutral;
}

.col-4:last-of-type {
  border: none;
}

.addNew {
  padding: 0 1em;
  background-color: $neutral;
  overflow: hidden;

  .button {
    @extend .standardButton;

    text-decoration: none;
    float: right;
    margin-top: 1em;
  }
}

.recipeDiv {
  padding: 1em;

  .homeLink {
    text-decoration: none;
    color: $watermelon;
    font-weight: bolder;

    i {
      margin-right: 0.4em;
    }
  }

  .recipeContain {
    max-width: 900px;
    margin: 0 auto;

    h1 {
      text-align: center;
    }

    img {
      height: 12em;
      display: block;
      margin: 0 auto 1em;
      border: 1px solid $carbon;
      background-color: #fff;
      padding: 0.3em;
      width: 90%;
    }

    h4 {
      font-size: 1.3em;
    }

    .ingredients,
    .steps {
      margin: 0.4em 0;
      line-height: 1.5;
    }

    p {
      line-height: 1.5;
      margin: 0.4em 0;
    }

    ul,
    ol {
      padding: 0 0.5em 0 2em;
    }

    .notes {
      clear: both;
    }
  }
}

.newContainer {
  padding: 1em;
  background-color: $neutral;

  .homeLink {
    text-decoration: none;
    color: $watermelon;

    i {
      margin-right: 0.4em;
    }
  }

  input,
  textarea {
    display: block;
    width: 100%;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
    margin-top: 1em;
    border: 1px solid $carbon;
    padding-left: 0.4em;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border: 1px solid #000;
  }

  input {
    margin-top: 1em;
  }

  textarea {
    margin: 1em 0;
  }

  button {
    @extend .standardButton;

    display: block;
    outline: none;
    border: none;
    margin: 0.4em 0;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
  }

  .submitButton {
    margin: 0 auto;
  }

  p {
    font-size: 1em;
  }

  .error {
    color: $watermelon;
  }

  .nameErr {
    display: none;
  }
}

.proof {
  background-color: $neutral;
  padding: 1em;
}

.loginPage {
  form {
    button {
      @extend .standardButton;
    }
  }
}

.myAccount {
  .button {
    @extend .standardButton;

    text-decoration: none;
    display: block;
  }

  button {
    outline: none;
    cursor: pointer;
  }
}

.footer {
  text-align: center;
  background-color: $sky;
  border-top: 1px solid $watermelon;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;

  p {
    margin: 0;
    padding: 1em;

    a {
      color: #000;
    }

    a:visited {
      color: #000;
    }
  }
}

@media (min-width: 480px) {
  .col-4 {
    width: 46%;
    float: left;
    margin: 2%;
    padding: 0.5em 0 0.5em 0.5em;
    border: 2px solid $carbon;

    .thumbContainer {
      img {
        width: 5.2em;
      }

      .recipeTitle {
        padding: 0.2em 0.1em;
      }

      .recipeCourse {
        padding: 1.8em 0;
      }
    }
  }

  .col-4:last-of-type {
    border: 2px solid $carbon;
  }

  .recipeDiv {
    .recipeContain {
      img {
        width: 15em;
      }
    }
  }
}

@media (min-width: 768px) {
  .col-4 {
    width: 30%;
    margin: 1.65%;
  }

  .recipeDiv {
    overflow: hidden;

    .ingredientsDiv {
      float: left;
      width: 50%;

      h4 {
        font-size: 1.3em;
      }
    }

    .stepsDiv {
      float: left;
      width: 50%;

      h4 {
        font-size: 1.3em;
      }
    }
  }
}

@media (min-width: 992px) {
  .col-4 {
    width: 23%;
    margin: 1%;
    padding: 0;

    .thumbContainer {
      padding: 0.5em;
      height: 17em;

      img {
        height: 11em;
        width: 100%;
      }

      .recipeTitle {
        height: 3em;
        padding: 1em 0 0;
        float: none;
        width: 100%;
        clear: both;
      }

      .recipeCourse {
        margin: -1em auto 0;
        float: none;
        padding: 1.5em;
      }
    }
  }
}
